* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f5f5;
  color: #111;
  transition: 0.3s;
  opacity: 0;
}

body.loaded {
  opacity: 1;
}

.dark-mode {
  background: #0f172a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}

.logo span {
  color: #6366f1;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.nav-links a.active {
  color: #6366f1;
  font-weight: 600;
}

.menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #6366f1;
}

.hero-buttons {
  margin-top: 20px;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  background: #6366f1;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  margin: 5px;
}

.outline {
  background: transparent;
  border: 2px solid #6366f1;
  color: #6366f1;
}

/* SECTION */
.section {
  padding: 70px 8%;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.6s;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

.dark {
  background: #e5e7eb;
}

.dark-mode .dark {
  background: #020617;
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #6366f1;
  color: #fff;
  padding: 8px 15px;
  border-radius: 20px;
  margin: 10px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: #111;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(30px);
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.dark-mode .card {
  background: #020617;
  color: #fff;
}

.card:hover {
  transform: translateY(-8px);
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px;
  }

  .nav-links.show {
    display: flex;
  }

  .menu {
    display: block;
  }
  }
